.shopping-cart {
    padding: 2rem;
    border: 1px solid #ccc;
  }
  
  .shopping-cart h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .shopping-cart table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  .shopping-cart table th,
  .shopping-cart table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart table th {
    font-weight: bold;
  }
  
  .shopping-cart table td img {
    max-width: 100px;
  }
  
  .shopping-cart input[type="number"] {
    width: 4rem;
    padding: 0.5rem;
  }
  .shopping-cart button {
    background-color: #0077c2;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .shopping-cart button:hover {
    background-color: #1c8adb;
  }
  
  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .subtotal p {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .shopping-cart table {
      font-size: 0.8rem;
    }
  
    .shopping-cart table th,
    .shopping-cart table td {
      padding: 0.5rem;
    }
  
    .shopping-cart input[type="number"] {
      width: 3rem;
    }
  
    .subtotal {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .subtotal p {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }


.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon i {
  font-size: 2rem;
  color: #0077c2;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0077c2;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.2rem 
}